{% extends 'base/private.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h4>{{ object.name.title }}</h4>
                <p>{{ object.description }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="pb-5">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="m-0 text-primary font-weight-bold">Information</h6>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><strong>Phone: </strong><span>{{ object.phone }}</span></li>
                                <li><strong>Address: </strong><span>{{ object.address }}</span></li>
                                <li><strong>Created at: </strong><span>{{ object.created_at }}</span></li>
                                <li><strong>Last updated at: </strong><span>{{ object.updated_at }}</span></li>
                            </ul>
                            <a href="{% url 'companies:edit_company' company_id=object.pk %}" class="btn btn-success">Edit</a>
                            <a href="{% url 'companies:delete_company' company_id=object.pk %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between align-items-center pb-4">
                    <h4>Offices</h4>
                    <a href="{% url 'companies:new_office' company_id=object.pk %}" class="btn btn-primary">Add Office</a>
                </div>
            </div>
        </div>

        <div class="row">
            {% for office in company.office_set.all %}
                <div class="col-4">
                    <div class="pb-4">
                        <article class="card">
                            <img src="https://placehold.it/300x200" alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{ office.name }}</h5>
                                <ul>
                                    <li><strong>Phone: </strong><span>{{ office.phone }}</span></li>
                                    <li><strong>Address: </strong><span>{{ office.address }}</span></li>
                                </ul>
                                <strong>Actions: </strong>
                                <a href="{% url 'offices:office' office_id=office.pk %}"
                                   class="btn btn-primary">View</a>
                                <a href="{% url 'offices:edit_office' office_id=office.pk %}"
                                   class="btn btn-success">Edit</a>
                                <a href="{% url 'offices:delete_office' office_id=office.pk %}"
                                   class="btn btn-danger">Delete</a>
                            </div>
                        </article>
                    </div>
               </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between align-items-center pb-4">
                    <h4>Clients</h4>
                    <a href="{% url 'clients:create_client'%}"
                       class="btn btn-primary">Add Client</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="pb-4">
                    <div class="card">
                        <div class="card-header"><h6 class="m-0 text-primary font-weight-bold">Clients List</h6></div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for client in clients %}
                                        <tr>
                                            <td>{{ client.pk }}</td>
                                            <td>{{ client.first_name }}</td>
                                            <td>{{ client.last_name }}</td>
                                            <td>
                                                <a href="{% url 'clients:client' client_id=client.pk %}"
                                                   class="btn btn-primary">View</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}