{% extends 'base/private.html' %}

{% block title %}Company List{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Company List</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
           {% for object in object_list %}
               <div class="col-4">
                    <article class="card">
                        <img src="https://placehold.it/300x200" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ object.name }}</h5>
                            <div class="actions">
                                <a class="btn btn-primary" href="{% url 'companies:company' company_id=object.pk %}">View</a>
                                <a href="{% url 'companies:edit_company' company_id=object.pk %}" class="btn btn-success">Edit</a>
                                <a href="{% url 'companies:delete_company' company_id=object.pk %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </article>
               </div>
           {% endfor %}
        </div>
    </div>
{% endblock %}