{% extends 'base/private.html' %}
{% load widget_tweaks %}

{% block title %}{{ action }} Company{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>{{ action }} Company</h2>
                {% if description %}
                    <p>{{ description }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <form action="." method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {% render_field field class='form-control' %}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-secondary">Cancel</a>
                    <button role="submit" class="btn btn-primary">{{ action }} Company</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}