{% load active_link_tags %}

<li class="nav-item {% active_link 'dashboard:dashboard' %}">
    <a href="{% url 'dashboard:dashboard' %}" class="nav-link">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
    </a>
</li>

<hr class="sidebar-divider">

    <span class="sidebar-heading">Admin</span>

{% if perms.companies.view_company %}

    <li class="nav-item dropdown">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#companiesCollapse" aria-expanded="true"
           aria-controls="companiesCollapse">
          <i class="fas fa-building fa-fw"></i>
          <span>Companies</span>
        </a>
        <div id="companiesCollapse" class="collapse" aria-labelledby="companiesCollapse" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Companies:</h6>
              <a class="collapse-item {% active_link 'companies:list_company' strict=True %}"
                 href="{% url 'companies:list_company' %}">My Companies</a>
              {% if perms.companies.add_company %}
                  <a class="collapse-item {% active_link 'companies:new_company' strict=True %}"
                     href="{% url 'companies:new_company' %}">New Company</a>
              {% endif %}
            <h6 class="collapse-header">Offices</h6>
              <a class="collapse-item {% active_link 'offices:new_office' strict=True %}"
                 href="{% url 'offices:new_office' %}">Add Office</a>
          </div>
        </div>
    </li>


{% endif %}

{% if perms.users.view_owners %}

    <li class="nav-item dropdown">
        <a href="#" class="nav-link collapsed" data-toggle="collapse" data-target="#ownersCollapse"
           aria-expanded="true" aria-controls="ownersCollapse">
            <i class="fas fa-user fa-fw"></i>
            <span>Owners</span>
        </a>
        <div id="ownersCollapse" class="collapse" aria-labelledby="ownersCollapse" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Owners</h6>
                {% if perms.users.add_user %}
                    <a href="{% url 'owners:create_owner' %}" class="collapse-item">Create Owner</a>
                {% endif %}
                <a href="{% url 'owners:user_owners' %}" class="collapse-item">My Owners</a>
            </div>
        </div>
    </li>

{% endif %}

{% if perms.users.view_collaborators %}

    <li class="nav-item dropdown">
        <a href="#" class="nav-link collapsed" data-toggle="collapse" data-target="#collaboratorsCollapse"
           aria-expanded="true" aria-controls="collaboratorsCollapse">
            <i class="fas fa-user fa-fw"></i>
            <span>Collaborators</span>
        </a>
        <div id="collaboratorsCollapse" class="collapse" aria-labelledby="collaboratorsCollapse"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Collaborators:</h6>
                <a href="{% url 'collaborators:user_collaborators' %}" class="collapse-item">My Collaborators</a>
                <a href="{% url 'collaborators:create_collaborator' %}" class="collapse-item">Add Collaborator</a>
            </div>
        </div>
    </li>

{% endif %}

{% if perms.users.view_clients %}

<li class="nav-item dropdown">
    <a href="#" class="nav-link collapsed" data-toggle="collapse" data-target="#clientsCollapse" aria-expanded="true"
       aria-controls="clientsCollapse">
        <i class="fas fa-user fa-fw"></i>
        <span>Clients</span>
    </a>
    <div id="clientsCollapse" class="collapse" aria-labelledby="clientsCollapse" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Clients:</h6>
            {% for owner in request.user.get_owners %}
                <a href="#" class="collapse-item">{{ owner.first_name.title }}'s Clients</a>
            {% endfor %}
            <a href="{% url 'clients:user_clients' %}" class="collapse-item">My Clients</a>
            <a href="{% url 'clients:create_client' %}" class="collapse-item">Add Client</a>
        </div>
    </div>
</li>

{% endif %}

<span class="sidebar-heading">Utilities</span>

{% if perms.categories.view_category %}

<li class="nav-item dropdown">
    <a href="#" class="nav-link collapsed" data-toggle="collapse" data-target="#categoriesCollapse"
       aria-expanded="true" aria-controls="categoriesCollapse">
        <i class="far fa-list-alt"></i>
        <span>Categories</span>
    </a>
    <div class="collapse" id="categoriesCollapse" aria-labelledby="categoriesCollapse" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Categories</h6>
            <a class="collapse-item {% active_link 'categories:categories' strict=True %}"
               href="{% url 'categories:categories' %}">All categories</a>
            {% if perms.categories.add_category %}
                <a class="collapse-item {% active_link 'categories:new_category' strict=True %}"
                   href="{% url 'categories:new_category' %}">Add Category</a>
            {% endif %}
        </div>
    </div>
</li>

{% endif %}

<li class="nav-item dropdown">
    <a href="#" class="nav-link collapsed" data-toggle="collapse" data-target="#analysisCollapse"
       aria-expanded="true" aria-controls="analysisCollapse">
        <i class="far fa-list-alt"></i>
        <span>Analysis</span>
    </a>
    <div class="collapse" id="analysisCollapse" aria-labelledby="analysisCollapse" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Analysis</h6>
            <a class="collapse-item {% active_link 'analysis:analysis_list' strict=True %}"
               href="{% url 'analysis:analysis_list' %}">My Analysis</a>
            <a class="collapse-item {% active_link 'analysis:create_analysis' strict=True %}"
               href="{% url 'analysis:create_analysis' %}">Add Analysis</a>
        </div>
    </div>
</li>

<li class="nav-item dropdown">
    <a href="#" class="nav-link collapsed" data-toggle="collapse" data-target="#parametersCollapse"
       aria-expanded="false" aria-controls="parametersCollapse">
        <i class="far fa-list-alt"></i>
        <span>Parameters</span>
    </a>
    <div class="collapse" id="parametersCollapse" aria-labelledby="parametersCollapse" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Parameters</h6>
            <a class="collapse-item {% active_link 'parameters:parameters' strict=True %}"
               href="{% url 'parameters:parameters' %}">All Parameters</a>
            <a class="collapse-item {% active_link 'parameters:create_parameter' strict=True %}"
               href="{% url 'parameters:create_parameter' %}">Add Parameter</a>
        </div>
    </div>
</li>

<li class="nav-item dropdown">
    <a href="#" class="nav-link collapsed" data-toggle="collapse" data-target="#responsesCollapse"
       aria-expanded="true" aria-controls="responsesCollapse">
        <i class="fas fa-reply-all"></i><span>Responses</span>
    </a>
    <div class="collapse" id="responsesCollapse" aria-labelledby="responsesCollapse" aria-expanded="true"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Response Types Groups</h6>
            {% if perms.exam_response_types.view_responsetypegroup %}
                <a href="{% url 'exam_response_types_groups:response_type_groups' %}"
                   class="collapse-item {% active_link 'exam_response_types_groups:response_type_groups' strict=True %}">All Response Type Groups</a>
            {% endif %}
            <h6 class="collapse-header">Response Types</h6>
            {% if perms.exam_response_types.view_responsetype %}
                <a href="{% url 'exam_response_types:response_types' %}"
                   class="collapse-item {% active_link 'exam_response_types:response_types' strict=True %}">All Response Types</a>
            {% endif %}
            <h6 class="collapse-header">Units</h6>
            {% if perms.exam_response_types.view_unit %}
                <a href="{% url 'units:unit_list' %}"
                   class="collapse-item {% active_link 'units:unit_list' strict=True %}">All Units</a>
            {% endif %}
        </div>
    </div>
</li>