{% load active_link_tags %}

<li class="nav-item {% active_link 'dashboard:dashboard' %}">
    <a href="{% url 'dashboard:dashboard' %}" class="nav-link">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
    </a>
</li>

<hr class="sidebar-divider">

<span class="sidebar-heading">Companies</span>

<li class="nav-item dropdown">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#companiesCollapse" aria-expanded="true"
       aria-controls="companiesCollapse">
      <i class="fas fa-building fa-fw"></i>
      <span>Companies</span>
    </a>
    <div id="companiesCollapse" class="collapse" aria-labelledby="companiesCollapse" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Companies:</h6>
          <a class="collapse-item {% active_link 'companies:list_company' strict=True %}"
             href="{% url 'companies:list_company' %}">My Companies</a>
          <a class="collapse-item {% active_link 'companies:new_company' strict=True %}"
             href="{% url 'companies:new_company' %}">New Company</a>
        <h6 class="collapse-header">Offices</h6>
          <a class="collapse-item {% active_link 'offices:new_office' strict=True %}"
             href="{% url 'offices:new_office' %}">Add Office</a>
      </div>
    </div>
</li>