<ul id="accordionSidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
    <a href="#" class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon">
            <i class="fab fa-wpexplorer"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Orders</div>
    </a>
    <hr class="sidebar-divider my-0">
    {% include 'base/navbar.html' %}
    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button id="sidebarToggle" class="rounded-circle border-0"></button>
    </div>
</ul>