{% extends 'base/private.html' %}

{% block title %}Category {{ object.name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Category: {{ object.name }}</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header"><strong>Information</strong></div>
                    <div class="card-body">
                        <ul>
                            <li>
                                <strong>Added by: </strong>
                                <span>
                                    {% if object.user %}
                                        {{ object.user.first_name.title }} {{ object.user.last_name.title }}
                                    {% else %}
                                        Deleted User
                                    {% endif %}
                                </span>
                            </li>
                            <li><strong>Description: </strong><span>{{ object.description }}</span></li>
                            <li><strong>Created At: </strong><span>{{ object.created_at }}</span></li>
                            <li><strong>Last Updated At: </strong><span>{{ object.updated_at }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}