{% extends 'base/private.html' %}

{% block title %}Category {{ object.name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h4>{{ object.name }}</h4>
                <p>{{ object.description }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header"><h6 class="m-0 text-primary font-weight-bold">Information</h6></div>
                    <div class="card-body">
                        <ul>
                            {% if request.user.is_superuser %}
                            <li>
                                <strong>Added by: </strong>
                                <span>
                                    {% if object.user %}
                                        {{ object.user.first_name.title }} {{ object.user.last_name.title }}
                                    {% else %}
                                        Deleted User
                                    {% endif %}
                                </span>
                            </li>
                            {% endif %}
                            <li><strong>Description: </strong><span>{{ object.description }}</span></li>
                            <li><strong>Created At: </strong><span>{{ object.created_at }}</span></li>
                            <li><strong>Last Updated At: </strong><span>{{ object.updated_at }}</span></li>
                        </ul>

                        {% if perms.categories.change_category %}
                            <a href="{% url 'categories:edit_category' category_id=category.pk %}"
                               class="btn btn-success">Edit</a>
                        {% endif %}
                        {% if perms.categories.delete_category %}
                            <a href="{% url 'categories:delete_category' category_id=category.pk %}"
                               class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="py-5">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="m-0 font-weight-bold text-primary">Parameters</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    {% if request.user.is_superuser %}
                                        <th>added By</th>
                                    {% endif %}
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for object in category.parameter_set.all %}
                                        <tr>
                                            <td>{{ object.name.capitalize }}</td>
                                            <td>{{ object.description.capitalize }}</td>
                                            {% if request.user.is_superuser %}
                                                <td>{{ object.user.first_name.title }} {{ object.user.last_name.title }}</td>
                                            {% endif %}
                                            <td>
                                                <a href="{% url 'parameters:parameter' parameter_id=object.pk %}"
                                                   class="btn btn-primary">View</a>
                                                {% if perms.analysis_parameters.change_parameter %}
                                                    <a href="{% url 'parameters:edit_parameter' parameter_id=object.pk %}"
                                                       class="btn btn-success">Edit</a>
                                                {% endif %}
                                                {% if perms.analysis_parameters.delete_parameter %}
                                                    <a href="{% url 'parameters:delete_parameter' parameter_id=object.pk %}"
                                                       class="btn btn-danger">Delete</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}