{% extends 'base/private.html' %}

{% block title %}Delete {{ object.name.title }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h4>Delete: {{ object.name.title }}</h4>
                {% if description %}
                    <p>{{ description }}</p>
                {% endif %}
                <form action="." method="post">
                    {% csrf_token %}
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-secondary">Cancel</a>
                    <button role="submit" class="btn btn-primary">Delete Parameter</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}