{% extends 'base/private.html' %}

{% block title %}Analysis List{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between align-items-start">
                    <div>
                        <h4>Analysis List</h4>
                        <p>View all Analysis for your companies</p>
                    </div>
                    <a href="{% url 'analysis:create_analysis' %}" class="btn btn-primary">Add Analysis</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="pb-4">
                    <div class="card">
                        <div class="card-header"><h6 class="m-0 font-weight-bold text-primary">DataList</h6></div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for object in object_list %}
                                        <tr>
                                            <td>{{ object.name.title }}</td>
                                            <td>{{ object.description.capitalize }}</td>
                                            <td>
                                                <a href="{% url 'analysis:analysis' analysis_id=object.pk %}" class="btn btn-primary">View</a>
                                                <a href="{% url 'analysis:edit_analysis' analysis_id=object.pk %}" class="btn btn-success">Edit</a>
                                                <a href="{% url 'analysis:delete_analysis' analysis_id=object.pk %}" class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}