{% extends 'base/private.html' %}

{% block title %}Response Type Group: {{ object.name.capitalize }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h4>{{ object.name.title }}</h4>
                <p>{{ object.description.capitalize }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="pb-4">
                    <div class="card">
                        <div class="card-header"><h6 class="m-0 font-weight-bold text-primary">Information</h6></div>
                        <div class="card-body">
                            <ul>
                                <li>
                                    <strong>Created By: </strong>
                                    {% if object.user %}
                                        {{ object.user.first_name.title }} {{ object.user.last_name.title }}
                                    {% else %}
                                        Deleted User
                                    {% endif %}
                                </li>
                                <li><strong>Created At: </strong><span>{{ object.created_at }}</span></li>
                                <li><strong>Last updated At: </strong><span>{{ object.updated_at }}</span></li>
                            </ul>
                            <a href="{% url 'exam_response_types_groups:edit_response_type_group' response_type_group_id=object.pk %}"
                               class="btn btn-success">Edit</a>
                            <a href="{% url 'exam_response_types_groups:delete_response_type_group' response_type_group_id=object.pk %}"
                               class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="pb-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Response Types</h6>
                                <a href="{% url 'exam_response_types_groups:assign_response_type_to_group' response_type_group_id=object.pk %}"
                                   class="btn btn-primary btn-sm">Assign New</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Value</th>
                                    <th>Weighing</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for assignation in responsetypegroup.responsetypeassignation_set.all %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'exam_response_types:response_type' response_type_id=assignation.response_type.pk %}">
                                                    {{ assignation.response_type.name.title }}</a>
                                            </td>
                                            <td>{{ assignation.weighing.title }}</td>
                                            <td>
                                                <a href="{% url 'exam_response_types_assignations:edit_response_type_assignation' response_type_assignation_id=assignation.pk %}"
                                                   class="btn btn-success">Edit</a>
                                                <a href="{% url 'exam_response_types_assignations:delete_response_type_assignation' response_type_assignation_id=assignation.pk %}"
                                                   class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}