{% extends 'base/private.html' %}
{% load widget_tweaks %}

{% block title %}{{ action }} Response Type Assignation{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h4>{{ action }} Response Type Assignation</h4>
                {% if description %}
                    <p>{{ description }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="pb-5">
                    <div class="card">
                        <div class="card-body">
                            <form action="." method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="">Group: </label>
                                    <input type="text" disabled="disabled" value="{{ object.response_type_group.name.title }}" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Response Type: </label>
                                    <input type="text" disabled="disabled" value="{{ object.response_type.name.title }}" class="form-control">
                                </div>
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.errors }}
                                        {{ field.label_tag }}
                                        {% render_field field class='form-control' required='required' %}
                                        {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-secondary">Cancel</a>
                                <button type="submit" class="btn btn-primary">{{ action }} Response Type Assignation</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}